<!DOCTYPE html>
<html>
  <head>
    <title>TakeHomeRailsImProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# <script src="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table.min.js"></script> %>
    <%# <link rel="stylesheet" href="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css"> %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
